@font-face {
  font-family: yekan;
  src: url(../font/iranyekanwebbold.ttf);
}
* {
  font-family: yekan;
}

.nav-s {
  background-color: #e3f2fd;
}

.f-size20{
  font-size: 20px;
}

.f-size25{
  font-size: 25px;
}

.f-size30{
  font-size: 30px;
}

.f-size100{
  font-size: 100px;
}

.v-height{
  height: 95vh;
}

footer{
  background-color: #dcdfe0;
}