@font-face {
  font-family: yekan;
  src: url(../font/iranyekanwebbold.ttf);
}
* {
  font-family: yekan;
}

.nav-s {
  background-color: #e3f2fd;
}

.f-size{
  font-size: 25px;
}

.v-height{
  height: 95vh;
}